<!DOCTYPE html>
<html>

<head>
  <title>Bitcoin</title>
  <meta charset="utf-8">
  <script src="../base1/bitcoin.js"></script>
</head>

<body>
  <main tabindex="-1">
    <section>
      <div>
        <div>
          <label for="address">Address</label>
          <input id="address" value="9.9.9.9">
        </div>
        <div>
          <button id="ping">Ping</button>
          <span id="result"></span>
        </div>
        <div>
          <pre id="output"></pre>
        </div>
      </div>
    </section>
  </main>

  <script src="bitcoin.js"></script>
</body>

</html>