[Unit]
Description=JoinMarket Orderbook Watcher daemon
After=bitcoind.service

[Service]
WorkingDirectory=/home/joinmarket/joinmarket/scripts/
ExecStart=/bin/sh -c '. /home/joinmarket/joinmarket/jmvenv/bin/activate && python3 obwatch/ob-watcher.py --host=127.0.0.1'
User=joinmarket

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target